/* css reset */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Dark Mode */

#dark {
  background-color: #5f264a;
  color: #f4eee0;
}

/* mobile view  */

@media (max-width: 600px) {
  .footer {
    margin-top: 20px;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
  }
}
